

.galeria{
    text-align: center;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
   
}

.imagen{
    width: 100%;
    max-width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    transition: 0.20s;
}

.imagen:hover{
    transform:scale(1.25);
}

.Columna{
    flex: 100%;
    padding: 5px;
}

.Columna img{
    margin-top: 5px;
    margin-left: 10px;

}

@media (max-width: 900px){
    .Columna{
        flex: 60%;
    }
}
@media (max-width: 768px){
    .Columna{
        flex: 75%;
    }
}
@media (max-width: 450px){
    .Columna{
        flex: 100%;
    }
}

